<table width="98%">
	<th style="text-align:center" width="15%">
		<%= link_to_remote "Stats",
							{:url => { :controller => :output_analyzer, :action => :select_simulation, :output => @simulation_selected}, :update => "right_column"} %>
	</th>
	<th style="text-align:center" width="15%">
		<%= link_to_remote "Testcase list",
							{:url => { :controller => :output_analyzer, :action => :get_testcase_list, :output => @simulation_selected}, :update => "output_analyzer_result"} %>
	</th>
	<th style="text-align:center" width="15%">
	<%= link_to_remote "RTT Stats",
							{:url => { :controller => :output_analyzer, :action => :get_rtt_stats, :output => @simulation_selected}, 
							:before => "loading('output_analyzer_result')",
							:update => "output_analyzer_result"} %>
	</th>
	<th style="text-align:center" width="15%">Anomaly type</th>
	<th style="text-align:center" width="15%">
		<%= link_to_remote "Levenshtein distance",
							{:url => { :controller => :output_analyzer, :action => :get_l_distance_menu, :output => @simulation_selected}, 
							:before => "loading('output_analyzer_result')",
							:update => "output_analyzer_result"} %>
	</th>
	<th style="text-align:center" width="15%">
		<%= link_to_remote "SOM Predictor",
							{:url => { :controller => :output_analyzer, :action => :get_som_menu, :output => @simulation_selected}, 
							:before => "loading('output_analyzer_result')",
							:update => "output_analyzer_result"} %>
	</th>
	<th style="text-align:center" width="10%"></th>
	<tr>
	<td colspan="7">
	<div id="output_analyzer_result">

	<%= render :partial => "testcase_list" %>

	</div>
	</td>
	</tr>
</table>
